#player-holder {
    background-color: white;
    z-index: 100;
    float: left;
    position: absolute;
    bottom: 200px;
    right: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#top-nav {
    text-align: center;
    padding: 5px;
}

#container {
    position: relative;
}

#range-holder {
    background-color: white;
    z-index: 100;
    position: absolute;
    bottom: 100px;
    right: 10px;
    width: 300px;
    float: left;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.tickLabel {
    text-align: center;
    display: inline-block;
}

#time-range {
    margin: 10px;
    margin-bottom: 0px;
}

#heatmap-canvas {
    width: 975px; 
    height: 578px; 
    background-image:url(football.png); 
    background-repeat: none; 
    background-size: cover;
}

label {
    font-weight: bold;
    font-family: Helvetica;
    margin: 5px;
}
